/* Header.css */

.top_header {
  /* background-color: #282c34; */
  color: white;
  padding-top: 17px;
  font-size: 14px;
}


/* HOME PAGE CSS */
header {
  width: 100%;
  max-width: 100% !important;
}


.sticky-header{
  z-index: 9;
  padding: 20px 0px !important;
  top: 0;
  left: 0;
  position: absolute;
  
}
.sticky-header .top_header{
    padding-top: 0px;
}
.no-sticky-header{
padding-top: 3px;
}

.container-fluid {
  margin: auto;
  padding: 0 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.column {
  flex: 1;
  padding: 0 15px;
}



.logo {
  align-items: center;
  text-decoration: none;
}



.logo span {
  font-size: 1.9rem;
}

.header_navigation {
  display: flex!important;
  justify-content: flex-end;
  margin-right: 35px;
}

.navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav-items {
  margin-left: 20px;
}

.nav-items a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

.nav-items a:hover {
  color: #ff4040 !important; /* Highlight color on hover */
}

.active {
  color: #ff4040 !important; /* Highlight color on hover */
}
.social_nav {
  margin-left: 20px;
}

.social_nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.social_nav li {
  margin-left: 10px;
}

.social_nav li a img {
  height: 24px; /* Adjust the size as needed */
}

/* Mobile menu styles */
.mobile_menu {
  display: none; /* Hidden by default, display it on smaller screens if needed */
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
  .navigation {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
  }
  .header_navigation {
    justify-content: center;
  }
  .table {
    font-size: 11px !important;
  }
  .social_nav {
    display: none; /* Optionally hide social links on smaller screens */
  }
}

/* Additional responsive adjustments can be made as needed */

@media (max-width: 425px) {
  .header_navigation {
    display: none;
  }
  .table {
    font-size: 10px !important;
  }
}